.container {
  display: flex;
  & .routes {
    height: calc(100vh);
    width: 100px;
    white-space: nowrap;
    background-color: #fafafa;
    padding: 5px;
    position: fixed;
    & a {
      text-decoration: none;
      div {
        margin-bottom: 5px;
        border-radius: 10px;
        background-color: aqua;
        padding: 5px;
        color: black;
        text-overflow: ellipsis;
      }
    }
  }
}
